#title-contact {
    font-size: 36px;
    color: #382c32;
}

.conteudo {
    margin-left: 15rem;
    margin-top: 10rem;
    margin-right: 15rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.inf {
    margin-top: 4rem;
}

.form-item {
    width: 30rem;
    height: 2rem;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-style: solid;
    border-color: #cecece;
    border-radius: 5px;
    border-width: thin;
    padding: 1rem;
}

input:focus {
    outline: 0;
    box-shadow: inset 0 0 1em #ffd8ea;
}

select {
    background-color: #ffffff;
    border-color: #cecece;
}

select:focus {
    outline: 0;
    box-shadow: inset 0 0 1em #ffd8ea;
}

textarea {
    width: 28rem;
    height: 5rem;
    resize: none;
    padding: 1rem;
    background-color: #ffffff;
    border-color: #cecece;
}

textarea:focus {
    outline: 0;
    box-shadow: inset 0 0 1em #ffd8ea;

}

#button-enviar {
    width: 130px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff0077;
    border-radius: 10px;
    border-style: none;
    margin-top: 1rem;
    margin-bottom: 5rem;

}

#button-enviar:hover {
    background-color: #b6135f;
}


.title-form {
    text-align: left;
    color: #858585;
}

.title-inf {
    color: #858585;
    font-size: 14px;
}

.informs-contact {
    background-color: #ff0077;
    color: #ffd8ea;
    text-align: left;
}