* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 80px;
    box-shadow: 0 5px 1em #cecece;
}

.font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: medium;
}

.navi {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    gap: 24px;
    margin-right: 3rem;

}

.item-nav {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ff0077;
}


.redes i {
    font-size: 20px;
    color: #ffffff;
}

.redes i:hover {
    transition: 0.5s;
    font-size: 25px;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}


.informs-contact {
    background-color: #ff0077;
    color: #ffd8ea;
}


#button-vermais {
    width: 130px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff0077;
    border-radius: 10px;
    margin-left: 45%;
    border-style: none;
    margin-bottom: 50px;
    cursor: pointer;
}

#button-vermais:hover {
    background-color: #b6135f;
}

.informs {
    background-color: #ff0077;
    color: #ffd8ea;
    border-bottom: 0.5px solid #ffd8ea;
}

.titulo-contato {
    margin-top: 3rem;
    margin-left: 10%;
    width: 150px;
    height: 80px;
   
}

#contact {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #ffd8ea;
    text-decoration: none;
    
}

.endereco{
    width: 30%;
    text-align: left;
}

.endereco h4{
    font-size:20px;
    font-weight: 800;
}

.oppening-hours {
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #ffd8ea;
}

.redes h4{
    text-align: center;
    margin-bottom: 1rem;
}

.redes {
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ffd8ea;
}
.logo {
    
    width: 200px;
    height: 150px;
    padding-left: 40px;
}
.contatos{
    width: 90%;
    height: 10rem; 
    margin-left: 10%;
    display: flex;
    flex-direction: row;  
    
}
.row-rede {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column-rede {
    width: 10%;
}
footer {
    background-color: #ff0077;
    color: #ffd8ea;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 14px;
}