.conteudo1 {
    margin-top: 5rem;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
}

.conteudo {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
}

.img-left img {
    width: 40rem;
    height: 30rem;
    object-fit: cover;
}

.img-right img {
    width: 40rem;
    height: 30rem;
    object-fit: cover;

}

.text-right {
    margin-top: 7rem;
    display: flex;
    display: flex;
    flex-direction: column;
    margin: 5rem;


}

.text-right1 {
    margin-top: 5rem;
    display: flex;
    display: flex;
    flex-direction: column;
    margin: 5rem;


}

.text-left {
    margin-top: 7rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 4rem;
    text-align: right;
}

#titulo-banho {
    color: #ff0077;
}

.text-banho {
    color: #ffffff;
    text-align: left;
}

#title-doctor,
#title-farmacia,
#title-tele,
#title-hotel,
#title-busca,
#title-creche {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;

}

#doctor {
    background-color: #ff0077;
    width: 100%;
    height: 30rem;
}

#text-doctor,
#text-farmacia,
#text-tele,
#text-busca,
#text-creche,
#text-hotel {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

#text-farmacia2,
#text-tele2,
#text-busca2,
#text-creche2,
#text-hotel2 {
    color: white;
}

#text-doctor2 {
    color: #ffd8ea;
}

#farmacia {
    background-color: #0077ff;
    height: 30rem;
}

#tele-entrega {
    background-color: #FF320D;
    height: 30rem;
}

#creche {
    background-color: #6cf515;
    height: 30rem;
}

#tele-busca {
    background-color: #C10DFF;
    height: 30rem;
}

#hotel {
    background-color: #382c32;
    height: 30rem;
}

#inf-service {
    margin-top: 0;
    background-color: #ff0077;
}